.styled {
    border: 0;
    line-height: 2.5;
    margin-left: 40px;
    margin-bottom: 20px;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-color: rgba(220, 0, 0, 1);
    background-image: linear-gradient(to top left,
                                      rgba(0, 0, 0, .2),
                                      rgba(0, 0, 0, .2) 30%,
                                      rgba(0, 0, 0, 0));
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
                inset -2px -2px 3px rgba(0, 0, 0, .6);
}

.styled:hover {
    background-color: rgba(255, 0, 0, 1);
}

.styled:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
                inset 2px 2px 3px rgba(0, 0, 0, .6);
}
.mob-box{
    margin-top: 10px;
    margin-bottom: 10px;
}
.form-ctr{
    height: 30px;
    margin: 5px;
    width: calc(50% - 80px);
    float: left;
}
.mob-box .cust-btn, .remove-field{
    background-color: #5cb85c;
    border-color: #4cae4c;
    float: left;
    width: 90px;
    margin-left: 10px;
}
body{
    background:whitesmoke;
  
}
h1{
    margin-top: 50px;
    text-align: center;
}
.table{
    width: 80%;
    border: 2px solid;
    display:block;
    margin: 30px;
}

.container{
    margin: 5px;
    height: auto;
    padding: 20px;
    margin-top: 30px;
    width: 100%;
    border: 2px solid;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
}
label{
    padding-top: 10px;
    text-align: start;
    margin-left: 10px;
    margin-right: 20px;
}
 input[type='text'], select{
    height: 30px;
    max-lines: 1;
    margin-top: 10px;

}

table, th, td {
    border:1px solid black;
    text-align: center;
    margin:20px;
  }
  .form-group{
    margin: 30px;
  }

  li:first-child {
    float: left;
  }
  li:first-child a:after {
    content: "Previous";
  }
  li:nth-child(2) {
    counter-reset: pagination;
  }
  li:last-child {
    float: right;
  }
  li:last-child a:after {
    content: "Next";
  }
  li a {
    border: solid 1px #d7d7d7;
    border-radius: 0.2rem;
    color: #7d7d7d;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    text-align: center;
    padding: 0.5rem 0.9rem;
  }
  li a:after {
    content: " " counter(pagination) " ";
  }
  .container {
    background: #fdfdfd;
    padding: 1rem;
    margin: 3rem auto;
    border-radius: 0.2rem;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.3);
    counter-reset: pagination;
    text-align: center;
  }
  .container:after {
    clear: both;
    content: "";
    display: table;
  }
  .container ul {
    width: 100%;
  }
  
  .xlarge {
    width: 65rem;
  }
  
   
   
  
  ul, li {
    list-style: none;
    display: inline;
    padding-left: 0px;
  }
  
  li {
    counter-increment: pagination;
  }
  li:hover a {
    color: #fdfdfd;
    background-color: #1d1f20;
    border: solid 1px #1d1f20;
  }
  li.active a {
    color: #fdfdfd;
    background-color: #1d1f20;
    border: solid 1px #1d1f20;
  }